<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Inventário de Materiais</title>
<link rel="stylesheet" href="/static/css/styles.css?v=2"/>
</head>
<body>
<header class="app-header">
  <img src="/static/assets/logo.png" class="logo" alt="logo"/>
  <div class="titles">
    <h1>SIRF-MIS - INVENTÁRIO DE MATERIAIS</h1>
    <small id="subTitle">Fiscalização SUB/OPSUB/MIS</small>
  </div>
  <div class="userbox">
    <div class="user-info">
      <span id="userName" class="tag"></span>
      <span id="userProfile" class="profile-admin" style="display:none;">ADMINISTRADOR</span>
    </div>
  </div>
</header>

<nav class="topnav">
  <button class="tablink" onclick="window.location.href='/'">⬅ Voltar</button>
</nav>

<main>
  <section class="tab active">
    
  </section>
</main>

<script src="/static/js/auth.js"></script>

</body>
</html>